In [1]:
import pandas as pd

df = pd.read_json('data.json')

print(df.head())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [2]:
df.dtypes

Duration      int64
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

In [4]:
print(df[85:95])

    Duration  Pulse  Maxpulse  Calories
85        30    151       170     300.1
86        45    102       136     234.0
87       120    100       157    1000.1
88        45    129       103     242.0
89        20     83       107      50.3
90       180    101       127     600.1
91        45    107       137       NaN
92        30     90       107     105.3
93        15     80       100      50.5
94        20    150       171     127.4

In [5]:
new_df = df.dropna()
print(new_df[85:95])

    Duration  Pulse  Maxpulse  Calories
87       120    100       157    1000.1
88        45    129       103     242.0
89        20     83       107      50.3
90       180    101       127     600.1
92        30     90       107     105.3
93        15     80       100      50.5
94        20    150       171     127.4
95        20    151       168     229.4
96        30     95       128     128.2
97        25    152       168     244.2

In [8]:
df_drops_na = pd.read_json('data.json')
df_drops_na.dropna(inplace = True)
print(df_drops_na[85:95])

    Duration  Pulse  Maxpulse  Calories
87       120    100       157    1000.1
88        45    129       103     242.0
89        20     83       107      50.3
90       180    101       127     600.1
92        30     90       107     105.3
93        15     80       100      50.5
94        20    150       171     127.4
95        20    151       168     229.4
96        30     95       128     128.2
97        25    152       168     244.2

In [12]:
df_fill_na = pd.read_json('data.json')

df_fill_na.fillna(130, inplace = True) #91 row changed

print(df_fill_na[85:95])

    Duration  Pulse  Maxpulse  Calories
85        30    151       170     300.1
86        45    102       136     234.0
87       120    100       157    1000.1
88        45    129       103     242.0
89        20     83       107      50.3
90       180    101       127     600.1
91        45    107       137     130.0
92        30     90       107     105.3
93        15     80       100      50.5
94        20    150       171     127.4