In [1]:
import pandas as pd

mydataset = {
  'cars': ("Tata", "Mercedez Benz", "Maruthi", "Mahindra"),
  'passings': (1, 10, 2, 4)
}

myvar = pd.DataFrame(mydataset)

print(myvar)

            cars  passings
0           Tata         1
1  Mercedez Benz        10
2        Maruthi         2
3       Mahindra         4

In [3]:
mydataset = {
  'cars': {1:"Tata", 10: "Mercedez Benz", 2:"Maruthi", 4:"Mahindra"},
}

myvar = pd.DataFrame(mydataset)

print(myvar)

             cars
1            Tata
10  Mercedez Benz
2         Maruthi
4        Mahindra

In [38]:
mydataset = {
  'cars': ["Tata", "Mercedez Benz", "Maruthi", "Mahindra"],
  'passings': [1, 10, 2, 4]
}

myvar = pd.DataFrame(mydataset)

print(myvar)

            cars  passings
0           Tata         1
1  Mercedez Benz        10
2        Maruthi         2
3       Mahindra         4

In [8]:
cars = ("Tata", "Mercedez Benz", "Maruthi", "Mahindra")
def x(cars: tuple):
    for i in cars:
        yield i

mydataset = map(lambda x:x, cars)

myvar = pd.DataFrame(mydataset)

print(myvar)

               0
0           Tata
1  Mercedez Benz
2        Maruthi
3       Mahindra

In [40]:
genvar = pd.DataFrame(cars)
print(genvar[0])

0             Tata
1    Mercedez Benz
2          Maruthi
3         Mahindra
Name: 0, dtype: object

In [41]:
print(genvar[0][1])

Mercedez Benz

In [42]:
print(genvar[0][0])

Tata

In [55]:
genvar = pd.DataFrame({'Cars': cars})
print(genvar)

            Cars
0           Tata
1  Mercedez Benz
2        Maruthi
3       Mahindra

In [54]:
print(genvar['Cars'])

Series([], Name: Cars, dtype: float64)

In [58]:
print(genvar)

            Cars
0           Tata
1  Mercedez Benz
2        Maruthi
3       Mahindra